<form action="<%= @file_name %>/edit" method="post">
  <label>
    <%= "Edit content of #{@file_name}:" %>
    <textarea id="file_content" name="file_content" rows="30" cols="80">
<%= @content %>
    </textarea>
  </label>

  <input type="submit" value="Save Changes">
</form>
