<form action="/<%= @file_name %>" method="post">
  <label for="file_content">Edit content of <%= @file_name %>:</label>
  <div>
    <textarea id="file_content" name="file_content" rows="30" cols="80"><%= @content %></textarea>
  </div>
  <input type="submit" value="Save Changes">
</form>

<p class="user-status">(Link image in markdown files with ![Alt text][images/IMAGE_FILE_NAME]</p>
