<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CMS</title>
    <meta charset="UTF-8">
    <!-- comment this out if site is not designed to be responsive -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <!-- comment this out if site does not use javascript -->
    <!-- <script src='/javascripts/jquery-2.2.4.js'></script> -->
    <!-- <script src='/javascripts/application.js'></script> -->
  </head>
  <header>
    <% if session[:error] %>
      <p><%= session.delete(:error) %></p>
    <% end %>
    <% if session[:success] %>
      <p><%= session.delete(:success) %></p>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
