body {
  padding: 1em;
  font-family: sans-serif;
}

div {
  padding: 10px;
}

fieldset {
  border: none;
}

form.delete {
  display: inline-block;
}

.error {
  background-color: #fffd9e;
}

.success {
  background-color: green;
}
