body {
  padding: 1em;
  font-family: sans-serif;
}

div {
  padding: 10px;
}

fieldset {
  border: none;
  padding: 0;
}

form.inline {
  display: inline-block;
}

.error {
  background-color: #fffd9e;
}

.success {
  background-color: green;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}
